@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

html {
  scroll-behavior: smooth;
}

@keyframes snow {
  0% {
    transform: translateY(-10px);
    opacity: 0;
  }
  10% {
    opacity: 0.6;
  }
  100% {
    transform: translateY(110vh);
    opacity: 0;
  }
}

.animate-snow {
  animation: snow 10s linear infinite;
}

.globe::before {
  content: "";
  position: absolute;
  inset: 0;
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/127738/globe.svg");
  z-index: 10;
}

.perspective {
  perspective: 1000px;
}

.transform-style-preserve {
  transform-style: preserve-3d;
}

.backface-hidden {
  backface-visibility: hidden;
}


.star {
  transform-origin: center;
  animation: twinkle 4s infinite ease-in-out;
}



.star:nth-child(odd) {
  animation-delay: 1.5s;
}
.star:nth-child(3n) {
  animation-delay: 3s;
}

@keyframes twinkle {
  0% {
    opacity: 0;
    transform: scale(0.4);
  }
  50% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0.4);
  }
}

#moon {
  animation: moonFloat 6s ease-in-out infinite;
}

@keyframes moonFloat {
  0% { transform: translateY(0); }
  50% { transform: translateY(15px); }
  100% { transform: translateY(0); }
}


.path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 3s linear forwards;
  animation-delay: 1s;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

.dashed {
  stroke-dasharray: 5, 12;
}

#arrow {
  opacity: 0;
  animation: arrowFade 2s linear forwards;
  animation-delay: 1s;
}

@keyframes arrowFade {
  to {
    opacity: 1;
  }
}
